/* FONTS */
$font-base: 1.6rem;

/* SIZES */
$border-radius-1: 1rem;
$border-radius-2: 0.5rem;

$font-size-1: 2.4rem;
$font-size-2: 2rem;
$font-size-3: 1.5rem;
$font-size-4: 1.3rem;
$font-size-5: 1rem;

/* COLORS */
$color-strong-cyan: hsl(172, 67%, 45%);
$color-very-cyan: hsl(183, 100%, 15%);
$color-dark-grayish-cyan-1: hsl(186, 14%, 43%);
$color-dark-grayish-cyan-2: hsl(184, 14%, 56%);
$color-light-grayish-cyan-1: hsl(185, 41%, 84%);
$color-light-grayish-cyan-2: hsl(189, 41%, 97%);
$color-white: hsl(0, 0%, 100%);
$color-error: rgb(248, 94, 94);
